<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="fileManager.Profiles" type="RNET.FileManager.Models.FileManagerSection, RNET.FileManager" restartOnExternalChanges="true" />
  </configSections>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <staticContent>
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
  <fileManager.Profiles>
    <UserInfo name="admin" password="123456789" />
    <Theme value="min" />
    <MaxSize value="4.5"/>
    <PrivateUser value="false"/>
    <AcceptUpload value="true"/>
    <AcceptDelete value="true"/>
    <RootURL value="/"/>
    <RootPath value="\"/>
    <ThumbPath value="\Uploads\thumbs\"/>
    <UploadPath value="\Uploads\files\"/>
    <ImageResize width="1024" height="0" />
    <MusicExtension value=""/>
    <VideoExtension value=""/>
    <ImageExtension value="'jpg', 'jpeg', 'png', 'gif', 'bmp', 'tiff'"/>
    <OtherExtension value=""/>
  </fileManager.Profiles>
</configuration>
